@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
    list-style: none;
    box-sizing: border-box;
}
.detail{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.details{ 
    width: 75%;
    height: auto;
    justify-content: space-between;
    display: flex;
   flex-wrap: nowrap;
}

.detail #editbtn,#delete,#save ,#close{
    margin: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.detail #titlebox{
    margin-top: 3%;
    font-size: 30px;
    font-weight: 600;
    color:#031829;;
}
/* Style for the input field */
#titlebox {
    border: none; /* Initially, hide the border */
    outline: none; /* Remove the focus outline */
    font-size: 16px; /* Adjust the font size as needed */
    padding: 5px; /* Add some padding for spacing */
    width: 90%; /* Expand the input to fill its container */
    transition: border 0.3s; /* Add a smooth transition for the border */
    background-color: transparent; /* Make the input background transparent */
    
}

/* Basic CSS for styling the success message */
.msg {
    visibility: visible;
    position: absolute;
    background-color: #4CAF50;
    /* background-color: #0056b3; */
    color: white;
    text-align: center;
}

.success-message {
    visibility: visible;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
.msg{
    
    visibility: visible;
    position: relative;
    width: 100%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
}

.detail #imagebox{
    margin-top: 2%;
    /* width: 40rem; */
    height: 70vh;
    max-width: 680px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.details .desc textarea{
    width: 40rem;
    font-size: 17px;
    border: 1px solid black;
    height: 40vh;
   
}
.detail .time{
    font-family: Arial, sans-serif;
    font-weight: 600;
    
}
.detail #description{
    display: none;
}
.right .most{
    display: flex;
    justify-content: center;
    color: #007bff;
    font-size: 30px;
    font-weight: 600;
}
.right{
   
    margin-top: 7%;
    display: flex;
    align-items: center;
    width: 35%;
    display: flex;
    flex-direction: column;
} 
.right .lines{
    height: 4px;
    width: 100%;
    background-color: #0056b3;
}
.right .rights{
    margin: 15px;
    background-color: rgba(222, 219, 219, 0.2);
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.7s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

}
.right .rights:hover{
    transform: scale(1.01);
}
.detail .descx{
    text-align: justify;
    width: 40rem;
}
.right img{
    width: 19rem;
    height: 17rem;
    border-radius: 20px;
}
.right .tite{
    color: #031829;
    position: relative;
    font-size: 20px;
    width: 90%;
    font-weight: 600;
    
}
/* Style for the hidden file input */
#imagefile {
    display: none;
}
.allbtns{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 38rem;
    position: relative;
    /* bottom: 50px; */
   
}
/* Style for the label (icon) that triggers the file input */
#imagefile-label {
    width: 10rem;
    cursor: pointer;
    position: relative;
    /* bottom: 40px; */
    border-radius: 5px;
    display: flex;
    justify-content: end;
   
}

.comment .delete{
    cursor: pointer;
    width: 30px;
    height: 30px;
}


/* Style for the FontAwesome icon */

#upload{
    visibility: hidden;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid black;
    background-color: wheat;
  
}

.popup-container {
    z-index: 9999;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.allbtns{
   
    /* width: 75%; */
    position: relative;
    bottom:3%;
    left: 20px;
}
.allbtns img{
    background-color: aliceblue;
}
.popup {
    left: 20%;
    top: 30%;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60%; /* Set the width to 50% */
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}


.popup-message {
    width: 50%;
    font-size: 18px;
    margin-bottom: 20px;
}
.msg p{
   font-size: 20px;
}
.popup-confirm-yes,
.popup-confirm-no {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.popup-confirm-yes:hover,
.popup-confirm-no:hover {
    background-color: #0056b3;
}

/* /////comments ////////// */

.comment-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 2%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 660px;
    width: 100%;
}

.comment-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.comment-textarea {
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.comment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.comment-button:hover {
    background-color: #0056b3;
}

.comment-section {
    margin-top: 20px;
   

}

.comment {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
    width: 41rem;
}

.comment-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.comment-details {
    flex: 1;
}

.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-text {
    margin: 0;
}


@media screen and (max-width: 1240px) {
    .details{ 
        width: 90%;
    
    }

}

@media screen and (max-width: 1080px) {
    .details{ 
        width: 95%;
    
    }

}
@media screen and (max-width: 1008px) {
    .details{ 
        width: 80%;
        flex-wrap: wrap;
    }
    .right{
        margin-top: 7%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .rightt{
        width: 80%;
        justify-content: center;
        display: flex;
        scroll-behavior: smooth;
        /* overflow-y: scroll; */
    }

}

@media screen and (max-width: 995px) {
    .details{ 
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .right{
        margin-top: 7%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .rightt{
        width: 80%;
        justify-content: center;
        display: flex;
        scroll-behavior: smooth;
        /* overflow-y: scroll; */
    }
    .right .rightt{
        margin: 15px;
        background-color: rgba(222, 219, 219, 0.2);
        width: 70%;
        height: auto;
        flex-wrap: nowrap;
    }
  
    .detail .descx{
        text-align: justify;
        width: 42rem;
    }
    .right img{
        width: 15rem;
        height: 15rem;
        border-radius: 20px;
    }
    .right .tite{
        color: #031829;
        position: relative;
        font-size: 20px;
        width: 90%;
        font-weight: 600;
        
    }
}


@media screen and (max-width: 800px) {
    .right{
        margin-top: 7%;
        width: 100%;
        justify-content: center;
    }
    .rightt{
        width: 90%;
    }
    .rightt .rights{
        width: 90%;
        height: auto;
        margin: 2%;
    }
    .right .rightt{
        margin: 15px;
        background-color: rgba(222, 219, 219, 0.2);
        width: 90%;
        height: auto;
        flex-wrap: wrap;
        
    }
    .right img{
        width: 100%;
        height: 20rem;
        border-radius: 20px;
    }
    .right .tite{
        color: #031829;
        position: relative;
        font-size: 20px;
        width: 90%;
        font-weight: 600;
        
    }
   
}

@media screen and (max-width: 780px) {
  
.detail {
   width: 100%;
}
.detail {
    width: 100%;
}
.detail #imagebox{
    margin-top: 2%;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.details .desc textarea{
    width: 90%;
    font-size: 17px;
    border: 1px solid black;
    height: 40vh;
   
}
.details .desc .descx{
    width: 100%;
    font-size: 17px;

   
}
.comment {
     width: 90%;
}

.detail #imageboxx{
   width: 100%;
}

.comment-container {
    width: 90%;
}
.allbtns{
    width: 90%;
   
}
}

@media screen and (max-width: 700px) {
  
    .detail {
       width: 100%;
    }
    .detail {
        width: 100%;
    }
    .detail #imagebox{
        margin-top: 2%;
        height: 60vh;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .details .desc textarea{
        width: 100%;
        font-size: 17px;
        border: 1px solid black;
        height: 40vh;
       
    }
    .details .desc .descx{
        width: 100%;
        font-size: 17px;
    
       
    }
    .comment {
         width: 100%;
    }
    
    .detail #imageboxx{
       width: 100%;
    }
    
    .comment-container {
        width: 100%;
    }
    .allbtns{
        width: 100%;
    }

    #upload{
        position: relative;
        right: 40px;
      
      
    }
    }