<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/navbar.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/catagory.css') }}">   
  
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/catagory.js') }}"></script>

   
    <title>
    {% block title %} {% endblock %}
  </title>
</head>
<body>
{% block content %}
{% endblock %}


  
 
 


</body>
</html>